body {
    margin: 0;
}

h1,
h3 {
    margin: 0;
}

:root {
    --passive-color: rgb(44, 11, 213);
    --active-color: rgb(12, 10, 26);
}

.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d6ede3;
}

.container__accordion {
    min-width: 50%;
}

.container__title {
    margin-bottom: 1vh;
    font-size: 5vw;
    color: #1e430a;
    font-family: 'Rampart One', cursive;
}

.accordion {
    
}

.accordion:hover label div svg {
    opacity: 1;
}

.accordion:hover label div h3 {
    color: rgb(12, 10, 26);
}

.accordion__item {
    cursor: pointer;
}

.item__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--passive-color)
}

.item__icon {
    width: 15px;
    height: 15px;
    opacity: 0;
    transition: all .3s ease;
}

.item__flag {
    display: none;
}

.item__content {
    max-height: 0;
    text-align: center;
    overflow: hidden;
    transition: all .3s ease;
}

.content__img {
    width: 200px;
    opacity: 0;
    transition: all .3s ease-in-out;
}

#flag-1:checked+div div h3,
#flag-2:checked+div div h3,
#flag-3:checked+div div h3,
#flag-4:checked+div div h3,
#flag-5:checked+div div h3 {
    color: var(--active-color);
}

#flag-1:checked+div div svg,
#flag-2:checked+div div svg,
#flag-3:checked+div div svg,
#flag-4:checked+div div svg,
#flag-5:checked+div div svg {
    transform: rotate(45deg);
    fill: var(--active-color);
}

#flag-1:checked+div div,
#flag-2:checked+div div,
#flag-3:checked+div div,
#flag-4:checked+div div,
#flag-5:checked+div div {
    max-height: 200px;
}

#flag-1:checked+div div img,
#flag-2:checked+div div img,
#flag-3:checked+div div img,
#flag-4:checked+div div img,
#flag-5:checked+div div img {
    opacity: 1;
}

#item-1:hover div div svg,
#item-2:hover div div svg,
#item-3:hover div div svg,
#item-4:hover div div svg,
#item-5:hover div div svg {
    transform: rotate(45deg);
}

#item-1:hover #content-1,
#item-2:hover #content-2,
#item-3:hover #content-3,
#item-4:hover #content-4,
#item-5:hover #content-5 {
    max-height: 200px;
}

#item-1:hover div div img,
#item-2:hover div div img,
#item-3:hover div div img,
#item-4:hover div div img,
#item-5:hover div div img {
    opacity: 1;
}

#item-1:active div div h3,
#item-2:active div div h3,
#item-3:active div div h3,
#item-4:active div div h3,
#item-5:active div div h3 {
    color: rgb(44, 11, 213);
}

#item-1:active div div svg,
#item-2:active div div svg,
#item-3:active div div svg,
#item-4:active div div svg,
#item-5:active div div svg {
    fill: rgb(44, 11, 213);
}

#item-1:active div div img,
#item-2:active div div img,
#item-3:active div div img,
#item-4:active div div img,
#item-5:active div div img {
    opacity: 0.5;
}